bonus/mlx/*
bonus/boj
bonus/*.o
bonus/*.a
bonus/*.out
bonus/*.dylib
bonus/.DS_Store
mandatory/obj
mandatory/*.o
mandatory/*.a
mandatory/*.out
mandatory/*.dylib
mandatory/.DS_Store/
.vscode/
mandatory/.normignore
mandatory/miniRT
mandatory/mlx/*.swiftsourceinfo
